.game {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player {
    height: 10vh;
    width: 5vw;
    background-image: url(/images/rabbit.png);
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    top: 50.5vh;
    z-index: 1;
}

.enemy1 {
    height: 3vh;
    width: 1vw;
    background-color: red;
    position: relative;
    top: 57.5vh;
    
    animation: enemy 3s ;
    animation-timing-function: linear
}

.enemy2 {
    height: 2vh;
    width: 3vw;
    background-color: red;
    position: relative;
    top: 57.5vh;
    
    animation: enemy 3s ;
    animation-timing-function: linear
}

.enemy3 {
    height: 4vh;
    width: 1vw;
    background-color: red;
    position: relative;
    top: 57.5vh;
    
    animation: enemy 3s;
    animation-timing-function: linear
}

.enemy4 {
    height: 1.5vh;
    width: 4vw;
    background-color: red;
    position: relative;
    top: 53vh;
    
    animation: enemy 3s infinite;
    animation-timing-function: linear
}

.jump {
    animation: jump 500ms ease-in;
}

.duck {
    height: 5vh;
    top: 55vh;
}

@keyframes enemy {
    0% {
        left: 75vw;
    }

    100% {
        left: -15vw;
    }
}

@keyframes jump {
    0% {
        top: 50vh;
    }

    30% {
        top: 40vh;
    }

    70% {
        top: 40vh;
    }

    100% {
        top: 50vh;
    }
}



 .trees{
    animation: background-motion 20s infinite;
    animation-timing-function: linear;
    position: fixed;
    bottom: 50%;
    height: 50px;
    z-index: 0;
}

@keyframes background-motion {
    0% {
        right: 0;
    }
    50% {
        right: 50%;
    }
    100% {
        right: 100%;
    }
}